.main{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.navbar-container{
  width: 17vw;
  height: 100%;
  background-color: var(--primaryWhite);
}

.content{
  width: 83vw;
  height: 100%;
  background-color: var(--secondaryWhite);
}
