@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(to right, #f5f5f5, #ffffff);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
